/* site css stylesheet */

.header {
    width: 100%;
    background-color: #91b5c4;
    color: #fff;
    margin: 0px;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 100;
    padding: 10px;
    margin: 0px;
}

.content {
    clear: both;
    margin-top: 51px;
    padding: 30px;
}

.answer-detail-item {
    padding: 10px;
    margin: 10px;
    border: 1px dotted #3ca29c;
}
