/* site css stylesheet */

.header {
    width: 100%;
    background-color: #91b5c4;
    color: #fff;
    margin: 0px;
}

    .header h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: 100;
        padding: 10px;
        margin: 0px;
    }

.content {
    padding: 30px;
    max-width: 500px;
}
