<div class="app">
    <div class="navbar navbar-inverse navbar-fixed-top header">
        <h1>stack<strong>attack</strong></h1>
        <div class="score-box"></div>
    </div>

    <div class="container content">
        <div class="row">
            <div class="col-md-6 question-wrapper">
                <div class="container">
                    <div class="row question-detail">
                        <h2>Welcome!</h2>
                        <p>
                            To get started playing stackattack, select a question from
                            one of the lists.
                        </p>
                        <p>
                            Then, try to <strong>click on the accepted answer</strong> to
                            earn points!
                        </p>
                    </div>
                    <div class="row answer-detail">

                    </div>
                </div>
            </div>
            <div class="col-md-3 recent-questions question-list"></div>
            <div class="col-md-3 random-questions question-list"></div>
        </div>
    </div>
</div>

<!-- Webpack bundle -->
<script src="~/Scripts/build/app.bundle.js" type="text/javascript"></script>
