<div class="app">
    <div class="row">
        <div class="col-md-12 score-box">User Score: 0</div>
    </div>
    <div class="row">
        <div class="col-md-6 question-wrapper">
            <div class="container">
                <div class="row question-detail">
                    <h2>Welcome!</h2>
                    <p>
                        To get started playing stackattack, select a question from
                        one of the lists.
                    </p>
                    <p>
                        Then, try to <strong>click on the accepted answer</strong> to
                        earn points!
                    </p>
                </div>
                <div class="row answer-detail">

                </div>
            </div>
        </div>
        <div class="col-md-3 recent-questions"></div>
        <div class="col-md-3 random-questions"></div>
    </div>
</div>

<!-- Webpack bundle -->
<script src="~/Scripts/build/app.bundle.js" type="text/javascript"></script>
