@model stackattack.Models.UserModel

<!DOCTYPE html>
<html lang="en" ng-app="stackattackApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StackAttack</title>
    <meta name="description" content="A 'Guess the StackOverflow accepted answer' webapp game">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

    <!-- Setup simple configuration object for frontend -->
    <script type="text/javascript">
        document.config = {
            baseUrl: '/',
            greeting: 'Hello, world',
            userId: @Model.ID,
            originalScore: @Model.TotalScore
        };
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
