<!DOCTYPE html>
<html lang="en" ng-app="stackattackApp" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StackAttack</title>
    <meta name="description" content="A 'Guess the StackOverflow accepted answer' webapp game">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top header">
        <div class="container">
            <div class="navbar-header">
                <h1>stack<strong>attack</strong></h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
